//
	Graphene Index Page w0.5.0
	Written by Trevor J Hoglund
	Mar 17, 2016

doctype html
html(lang="en")
	link#basecss(rel="stylesheet", href="/assets/style.css")
	link#phpcss(rel="stylesheet", href="/assets/accent.css")
	link#prismcss(rel="stylesheet", href="/assets/prism.css")
	link(rel="icon", href="assets/img/fav.png")
	
	script#change-template(type="text/x-handlebars-template"): include temps/change.hbs
	script#comment-template(type="text/x-handlebars-template"): include temps/comment.hbs
	script#creator-template(type="text/x-handlebars-template"): include temps/creator.hbs
	script#note-template(type="text/x-handlebars-template"): include temps/note.hbs
	script#post-template(type="text/x-handlebars-template"): include temps/post.hbs
	script#register-template(type="text/x-handlebars-template"): include temps/register.hbs
	script#settings-template(type="text/x-handlebars-template"): include temps/settings.hbs
	script#sidebar-template(type="text/x-handlebars-template"): include temps/sidebar.hbs
	script#user-template(type="text/x-handlebars-template"): include temps/user.hbs
	
	script
		|	var url = "#{cdn}",
		|		api	= "#{api}",
		|		name = "Graphene";
	
	script(src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js")
	script(src="http://connect.soundcloud.com/sdk.js")
	
	script(src="/scripts/prism.js")
	script(src="/scripts/handlebars.js")
	script(src="/scripts/app.js")
	
	script(src="//scripts.phene.co/color/0.1.0.0006")
	script(src="//scripts.phene.co/crop/0.1.0.0025.min")
	script(src="//scripts.phene.co/popup/0.1.0.0012")
	script(src="//scripts.phene.co/menu/0.4.3.0042")
	
	script
		|	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		|	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		|	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		|	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		|	ga('create', 'UA-67481186-6', 'auto');ga('send', 'pageview');
		
	title Graphene
	
body(style="overflow:hidden")
	div#loading
		div#loading-icon(style="opacity:1")
			|	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
			|		<g>
			|			<polygon fill="none" stroke="#FFFFFF" stroke-width="15" points="410.8,342 249.3,435.2 87.9,342 87.9,155.5 249.3,62.3 410.8,155.5"/>
			|		</g>
			|	</svg>
		div#loading-container
			div#loading-bar
		div#loading-error
		a(href="http://phene.co")
			div#brand(style="color:white !important;font-family:serif;") phene.co
	div#side
		div#side-bar
			div#side-head
				div#side-logo(onclick="Graphene.theme.menu()")
				div#side-notes(style="display:none;") 0
				audio#notification_sound(src="/assets/aud/note.mp3", preload="auto")
			div#side-content
			div#side-loading
			div#side-version
	div#body