//
	Graphene Index Page w0.5.0
	Written by Trevor J Hoglund
	2017.06.30

doctype html
html(lang="en")
	link#basecss(rel="stylesheet", href="/assets/style.css")
	link#material(rel="stylesheet", href="/assets/material.css")
	link#accent(rel="stylesheet", href="/assets/accent.css")
	link#darkcss(rel="stylesheet", href="/assets/dark.css", disabled)
	link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:400,400i,700")
	link(rel="icon", href="/assets/img/fav.png")


	script#change-template(type="text/x-handlebars-template"): include ../templates/change.hbs
	script#comment-template(type="text/x-handlebars-template"): include ../templates/comment.hbs
	script#creator-template(type="text/x-handlebars-template"): include ../templates/creator.hbs
	script#note-template(type="text/x-handlebars-template"): include ../templates/note.hbs
	script#post-template(type="text/x-handlebars-template"): include ../templates/post.hbs
	script#register-template(type="text/x-handlebars-template"): include ../templates/register.hbs
	script#search-template(type="text/x-handlebars-template"): include ../templates/search.hbs
	script#settings-template(type="text/x-handlebars-template"): include ../templates/settings.hbs
	script#sidebar-template(type="text/x-handlebars-template"): include ../templates/sidebar.hbs
	script#user-template(type="text/x-handlebars-template"): include ../templates/user.hbs

	if localLibraries
		script(src="/scripts/page.js")
		script(src="/scripts/soundcloud.js")
		script(src="/scripts/clipboard.min.js")
		script(src="http://twemoji.maxcdn.com/2/twemoji.min.js")
	else
		script(src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js")
		script(src="http://connect.soundcloud.com/sdk.js")
		script(src="http://twemoji.maxcdn.com/2/twemoji.min.js")


	script
		|	var url = window.location.origin,
		|		api	= window.location.protocol + window.location.origin.split(':')[1] + ":" + "#{api}",
		|		name = "Graphene";
		|	window.bg = "#{img}";

	script(src="/scripts/prism.js")
	script(src="/scripts/handlebars.js")
	script(src="/scripts/app.js")
	script(src="/scripts/color.js")
	script(src="/scripts/crop.js")
	script(src="/scripts/modal.js")
	script(src="/scripts/menu.js")

	title Graphene

body(style="overflow:hidden")
	div.loading
		div#loading-icon(style="opacity:1")
			|	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
			|		<g>
			|			<polygon id="hexagon" fill="none" stroke="#FFFFFF" stroke-width="15" points="410.8,342 249.3,435.2 87.9,342 87.9,155.5 249.3,62.3 410.8,155.5"/>
			|		</g>
			|	</svg>
		div#loading-container
			div#loading-bar
		div#loading-error
		a(href="http://phene.co")
			div#brand(style="color:white !important;font-family:serif;")
				div#brand-logo
					|	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 204.61 204.61">
					|		<defs>
					|			<style id="brandlogocss">.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:20px;}</style>
					|		</defs>
					|		<title>phene.co</title>
					|		<path class="cls-1" d="M172.88,76.6a75,75,0,1,0-17.35,78.94A74.69,74.69,0,0,0,172.88,76.6Z" transform="translate(-0.2 -0.2)"/>
					|		<path class="cls-1" d="M128.4,32.12c29-19.5,53.17-27.32,62.48-18s1.49,33.53-18,62.48C161.74,93.15,146.78,111.26,129,129S93.15,161.74,76.6,172.88c-29,19.5-53.17,27.32-62.48,18s-1.49-33.53,18-62.48" transform="translate(-0.2 -0.2)"/>
					|	</svg>
		div#login-container(style="display:none;opacity:0")
			div#login-box
				form(id="form", method="post", autocomplete="new-password")
					input.login-text(name="email", type="text", placeholder="Email Address")
					input.login-text(name="password", type="password", placeholder="Password")
					input.login-butn(name="submit", type="button", value="Login", onclick="_g.u.login()")
					div#login-link
						a(href="../register") Sign Up
		div#register-container(style="display:none;opacity:0")
			div#register-cover(style="display:none;opacity:0;background: url('" + img + "');background-size:cover")
			div#register-box
				form(id="register-form", method="post", autocomplete="new-password")
					input.register-text(name="username", type="text", autofocus, placeholder="Username")
					input.register-text(name="email", type="text", placeholder="Email Address")
					input.register-text(name="password", type="password", placeholder="Password")
					input.register-butn(name="submit", type="button", value="Register", style="/*color:#444;background:#fff;*/", onclick="_g.u.register()")
					div#register-link
						a(href="../login") Already have an account?
	div#side
		div#side-bar.drawer
			div#side-head
				div#side-logo(onclick="Graphene.theme.menu()")
				div#side-notes(style="display:none;") 0
				audio#notification_sound(src="/assets/aud/note.mp3", preload="auto")
			div#side-content
			div#side-loading
			div#side-version
		div#side-head-shadow.drawer
	div#body
