//
	Graphene Login Page w0.5.0
	Written by Trevor J Hoglund
	Apr 02, 2016

doctype html
html
	head
		link#bacecss(rel="stylesheet", href="../assets/style.css", type="text/css")
		title Login | Graphene
	body
		div#login-container
			div#login-box
				form(id="login-form", method="post", action=api + "/login")
					input.login-text(name="email", type="text", autofocus, placeholder="Email Address")
					input.login-text(name="password", type="password", placeholder="Password")
					input.login-butn(name="submit", type="submit", value="Login")
					div#login-link
						a(href="../register") Sign Up
		a(href="http://phene.co")
			div#brand(style="color:#444 !important;font-family:serif")
				div#brand-logo
					|	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 204.61 204.61">
					|		<defs>
					|			<style>.cls-1{fill:none;stroke:#444;stroke-linecap:round;stroke-linejoin:round;stroke-width:20px;}</style>
					|		</defs>
					|		<title>phene.co</title>
					|		<path class="cls-1" d="M172.88,76.6a75,75,0,1,0-17.35,78.94A74.69,74.69,0,0,0,172.88,76.6Z" transform="translate(-0.2 -0.2)"/>
					|		<path class="cls-1" d="M128.4,32.12c29-19.5,53.17-27.32,62.48-18s1.49,33.53-18,62.48C161.74,93.15,146.78,111.26,129,129S93.15,161.74,76.6,172.88c-29,19.5-53.17,27.32-62.48,18s-1.49-33.53,18-62.48" transform="translate(-0.2 -0.2)"/>
					|	</svg>