<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>support.phene.co</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin:0;padding:0;font-family:Arial;font-size:10pt;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:20px 0;">
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border:1px solid #eee;border-collapse:collapse;background:url('{{url}}/assets/img/back.png')">
					<tr>
						<td style="padding:30px 0 20px 0;">
							<a style="border:0;" href="{{url}}">
								<img style="border:0;" src="{{url}}/assets/img/email_head.png" alt="Graphene" width="540" height="60" style="display: block;"/>
							</a>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom:20px;">
							<table border="0" cellpadding="10" cellspacing="0" width="100%">
								<tr>
									<td>
										<table align="center" border="0" cellpadding="10" cellspacing="0" width="100%" style="background:white;box-shadow:rgba(50, 50, 50, 0.3) 0 0 3px;">
											<tr>
												<td>
													{{{content}}}
												</td>
											</tr>
											<tr>
												<td style="text-align:center;">
													<a style="color:#aaa;text-decoration:none;font-style:italic;" href="http://phene.co">phene.co, 2016</a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>