<div class="post-inputs">
	<div id="post-inputs">
		<table>
			<tr>
				<td class="settings-label">
					Version
				</td>
				<td class="settings-inputs">
					<input type="text" id="change-v" class="settings-text" placeholder="vX.X.X.XXXX" value="{{version}}">
				</td>
			</tr>
			<tr>
				<td class="settings-label">
					Date
				</td>
				<td class="settings-inputs">
					<input type="text" id="change-d" class="settings-text" placeholder="X/XX/XXXX" value="{{date}}">
				</td>
			</tr>
			<tr>
				<td class="settings-label">
					Description
				</td>
				<td class="settings-inputs">
					<input type="text" id="change-ds" class="settings-text" placeholder="Description" value="">
				</td>
			</tr>
		</table>
	</div>
</div>