<div class="post-mediabox">
	<div></div>
</div>
<textarea class="post-textbox" id="post-textbox-1" style="font-size:inherit;font-family:inherit;width:500px;border:0;outline:0;overflow:hidden;resize:none;padding:0;"></textarea>