<table>
	<tr>
		<td class="settings-label">Username</td>
		<td class="settings-inputs">
			<input	type="text" placeholder="Username"								id="settings-uname"		class="settings-text" onblur="_g.rg.check.userName()">
			<div	style="background:rgb(255,53,53);display:none;"					id="un-taken"			class="settings-toggle">Username taken!</div>
		</td>
	</tr>
	<tr>
		<td class="settings-label">Name</td>
		<td class="settings-inputs">
			<input	type="text" placeholder="First"									id="settings-fname"		class="settings-text">
			<input	type="text" placeholder="Last"									id="settings-lname"		class="settings-text">
		</td>
	</tr>
	<tr>
		<td class="settings-label">Email</td>
		<td class="settings-inputs">
			<input	type="text"	placeholder="you@example.com"						id="settings-email" 	class="settings-text" onblur="_g.rg.check.email()">
			<div	style="background:rgb(255,53,53);display:none;margin-right:0;"	id="em-taken"			class="settings-toggle">Email taken!</div>
			<div	style="background:rgb(255,53,53);display:none;"					id="em-false"			class="settings-toggle">Not proper!</div>
		</td>
	</tr>
	<tr>
		<td class="settings-label">Password</td>
		<td class="settings-inputs">
			<input	type="password"	placeholder="Password"							id="settings-pass"		class="settings-text" onblur="_g.rg.check.passwords()">
			<input	type="password"	placeholder="Retype Password"					id="settings-pass2"		class="settings-text" onblur="_g.rg.check.passwords()">
		</td>
	</tr>
	<tr>
		<td class="settings-label"></td>
		<td class="settings-inputs">
			<div	style="background:rgb(255,53,53);display:none;"					id="ps-nomatch"			class="settings-toggle">Don't match!</div>
		</td>
	</tr>
</table>