<div class="card search has-responder">
	<div class="responder search-responder"></div>
	<form action="javascript:page('/search/' + encodeURIComponent(_c('search-input')[0].value))" class="search-form">
		<input class="search-input" id="search-box" placeholder="Search something..." type="text">
		<input class="search-submit material-icons" type="submit" value="search">
	</form>
</div>