/*
 *	Graphene Standard CSS w0.5.0
 *	Written by Trevor J Hoglund
 *	2017.06.30
 */

	.space					{height:10px;}

#register-container,
#login-container			{width:272px;margin:0 auto;display:block;height:100%;}
    #register-cover         {position:fixed;top:0;left:0;width:100vw;height:100vh;transition-duration:0.4s;-webkit-transition-duration:0.4s;z-index:10;}
    #register-box,
    #login-box				{position:absolute;width:272px;top:calc(50vh - 85px);z-index:200;}
    #register-link,
    #login-link				{width:100%;text-align:center;}
	.register-text			{font-size:14px;width:254px;padding:9px;border:0;margin-bottom:1em;outline:none;border:0;}
	.login-text				{font-size:14px;width:256px;padding:8px;border:0;margin-bottom:1em;outline:none;border:0;}
    .register-butn,
    .login-butn				{font-size:14px;width:272px;padding:6px;border:0;margin-bottom:8px;color:#fff;border:2px solid white;background:none;}
	.login-fail				{font-size:14px;width:256px;padding:8px;border:0;margin-bottom:1em;color:#fff;background:rgb(255,53,53);text-align:center;}
	.login-text,
    .register-text,
	.login-butn,
    .register-butn,
    #register-link,
    #login-link				{transition-duration:0.2s;-webkit-transition-duration:0.2s;}
    #register-link a,
    #login-link a			{color:white;font-size:10pt;}

#loading					{/* position:fixed;width:100%;height:100%;top:0;left:0;z-index:1500;background:#444444;transition-duration:0.3s;-webkit-transition-duration:0.3s; */}
	#loading-icon			{position:absolute;width:250px;height:250px;top:calc(50% - 125px);left:calc(50% - 125px);transition-duration:0.3s;-webkit-transition-duration:0.3s;z-index:100;}
	#loading-error			{position:absolute;top:calc(50% + 155px);left:calc(50% - 250px);}
	#loading-error a		{color:#fff !important;}
	#loading-error-bar		{position:absolute;width:500px;height:5px;background-size:20px 20px;-webkit-animation:barberpole 1.5s linear infinite;animation:barberpole 1.5s linear infinite;
							background-image:-webkit-linear-gradient(-45deg, white 0%, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent 100%);background-image:linear-gradient(-45deg, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);}
	#loading-container		{position:absolute;width:500px;height:5px;top:calc(50% + 140px);left:calc(50% - 250px);}
	#loading-bar			{position:absolute;top:0;left:0;width:0;height:100%;background:#fff;}

#brand						{position:absolute;bottom:17px;right:20px;}
	#brand-logo svg			{width:40px;height:40px;}
	#brand-name				{width:60px;text-align:center;margin-left:-10px;}

/* #side						{position:fixed;top:0;left:-220px;height:100%;transition-duration:0.3s;-webkit-transition-duration:0.3s;transition-timing-function:cubic-bezier(0, 0.4, 0.2, 1.3);z-index:10;} */
#side-bar					{position:absolute;top:-100px;left:0;width:230px;height:calc(100px + 100%);padding:0;background:#fff;border:0 !important;}
#side-head					{position:absolute;top:140px;left:0;height:60px;width:270px;background:#444444;color:#fff;font-weight:bold;font-size:30px;z-index:1;}
	#side-head::after		{position:absolute;top:0;left:270px;border-left:17.32px solid #444444;border-top:30px solid transparent;border-bottom:30px solid transparent;content:"";}
	#side-head-shadow		{position:absolute;top:40px;z-index:0 !important;width:40px;height:60px;left:230px;}
	#side-head-shadow::after{position:absolute;top:17px;left:39px;border-left:17.32px solid rgba(0,0,0,0.12);border-top:30px solid transparent;border-bottom:30px solid transparent;filter:blur(5px);content:"";}
	#side-logo				{position:absolute;top:10px;left:230px;width:40px;height:40px;cursor:pointer;z-index:1;}
	#side-notes				{position:absolute;top:36px;left:250px;background:rgb(255,53,53);padding:2px 4px;font-size:8pt;color:#fff;z-index:1;}
#side-scroll				{position:absolute;top:120px;left:210px;width:40px;z-index:0;background:rgba(0,0,0,0.3);height:60px;transition-duration:0.5s;-webkit-transition-duration:0.5s;}
	#side-scroll::after		{position:absolute;top:0;left:40px;border-left:17.32px solid rgba(0,0,0,0.3);border-top:30px solid transparent;border-bottom:30px solid transparent;content: "";}
	#side-cache				{position:absolute;top:36px;left:40px;background:#444444;padding:2px 4px;font-size:8pt;color:#fff;z-index:1;}
#side-content				{position:absolute;top:210px;left:20px;padding:10px;width:calc(100% - 40px);}
	.side-link				{padding:2px 6px;margin:4px;color:#111 !important;}
	.side-select			{background:#444444;color:#fff !important;}
#side-version				{position:absolute;left:20px;bottom:0;width:190px;padding:10px;color:#aaa !important;font-style:italic;text-align:center;}
	#side-version a			{color:#aaa;}
#side-loading				{position:absolute;top:-100px;right:-5px;width:5px;background:#444444;opacity:0.75;}

.hovercard					{position:fixed;z-index:101;padding:10px;width:190px;background:#fff;box-shadow:rgba(50, 50, 50, 0.3) 0 0 3px;display:none;transition:opacity 0.5s;-webkit-transition:opacity 0.5s;}

.user						{top:40px;width:190px;border:0 !important;background:#fff;box-shadow:rgba(50, 50, 50, 0.3) 0 0 3px;padding:10px;}
	.user.listed			{width:500px;margin-bottom:40px;}
	.user-info div:last-child{margin-bottom:0 !important;}
	.user-name				{margin-bottom:10px;}
	.user-name a:hover		{color:#444444;}
	.user-avatar			{position:relative;display:block;margin-bottom:10px;height:190px;width:190px;}
	.user-link				{padding:3px;margin:-3px -3px 5px -3px;color:#111 !important;}
	.user-follow			{padding:10px;text-align:center;background:#444444;color:white !important;}
	.user-select			{background:#444444;color:#fff !important;}
	.user-bio				{margin-bottom:10px;font-size:8pt !important;text-align:justify;word-break:break-word;}
	#user-bio-input			{font-size:8pt !important;}

	#user-back,
	#user-back div,
	#user-back div div		{position:absolute;width:100%;height:100%;}
	#user-back div			{-webkit-mask-image:-webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));}
	#user-back div div:first-child{background:url('http://192.168.1.100/img/574d310185a6f8485e71562a/57735be7bb9300702684e592/original.jpeg');background-size:cover !important;}
	#user-back div div:last-child{background:url(../assets/img/back_dark.png);opacity:0.5;}

/* .post						{position:relative;display:inline-block;text-align:left;margin-bottom:40px;background:#fff;width:520px;border:0 !important;box-shadow:rgba(50, 50, 50, 0.3) 0 0 3px;transition:margin-bottom 0.3s;} */
.post-popped				{position:fixed;top:40px;margin-left:-560px;}
/* .post-header				{position:relative;margin:10px 10px 0 10px;height:36px;} */
	.post-avatar			{position:absolute;cursor:pointer;top:0;left:0;width:36px;height:36px;}
	.post-name				{position:absolute;top:0;left:46px;}
	.post-name a:hover		{color:#444444;}
	.post-rank				{color:#aaa;font-size:8pt;}
	.post-time				{position:absolute;top:18px;left:46px;font-size:8pt;color:#aaa;}
	.post-time a			{color:#aaa;font-size:8pt;}
	/* .post-menu				{position:absolute;right:0px;height:12px;width:12px;overflow:hidden;cursor:pointer;background:rgba(0,0,0,0) url("../assets/img/menu.svg") no-repeat top;} */
	/* .post-enlarge			{position:absolute;right:19px;height:12px;width:12px;overflow:hidden;cursor:pointer;background:rgba(0,0,0,0) url("../assets/img/enlarge.svg") no-repeat top;} */
	.feed-new				{position:absolute;right:19px;height:12px;width:12px;overflow:hidden;cursor:pointer;background:rgba(0,0,0,0) url("../assets/img/new.svg") no-repeat top;}
.post-content				{padding:10px;}
	.post-shared			{margin-left:-20px;background:#fff;padding:20px;width:500px;box-shadow:rgba(50, 50, 50, 0.3) 0 0 3px;}
	.post-desc				{-webkit-animation-duration:.5s;animation-duration:.5s;}
	.post-text				{clear:both;text-align:justify;word-break:break-word;width:500px;-webkit-animation-duration:.5s;animation-duration:.5s;}
	.post-text ol			{margin-bottom:10px;}
	.post-text ul,
	.post-text li,
	.post-text table		{margin-bottom:10px;border-collapse:collapse;}
	.post-text td,
	.post-text th			{border:1px solid #ccc;padding:5px;}
	.post-text code			{background:#f8f8f8;}
	.post-text pre			{margin-bottom:10px;background:#f8f8f8;word-wrap:break-word;padding:10px !important;width:480px;overflow-x:scroll;word-wrap:initial;}
	.post-text hr			{border:0;height:1px;background:#ccc;margin-bottom:10px;}
	.post-text p			{padding-bottom:10px;}
	.post-text blockquote	{margin-bottom:10px;padding-left:10px;border-left: 5px solid #444444;}
	.post-text img			{max-width:500px;}
	.post-edit				{-webkit-animation-duration:.5s;animation-duration:.5s;}
	.post-text *:last-child	{padding-bottom:0;margin-bottom:0;}
	.post-image				{width:500px;margin-bottom:10px;}
	.post-embed,
	.post-video				{margin-bottom:10px;}
	.post-video video		{width:500px;height:281.25px;border:0;outline:0;}
	.post-video iframe		{width:500px;height:281.25px;border:0;outline:0;}
	.post-link-cont			{margin-bottom:10px;color:#aaa;}
	.post-link a			{font-size:14pt;}
	.post-link-error		{margin-bottom:10px;border:2px solid #ff2727;line-height:150px;color:#ff2727;font-size:large !important;text-align:center;text-transform:uppercase;font-weight:bold;}
	.post-thumb				{float:left;width:200px;margin-right:10px;}
	.post-text iframe		{width:500px;height:281.25px;border:0;outline:0;margin-bottom:10px;}
.post-comments				{padding:10px;background:#fafafa;}
	.post-comments *:last-child{margin-bottom:0px;}
	.comment-more			{cursor:pointer;padding:8px;background:#ccc;margin-bottom:8px;text-align:center;color:#fff;}
	.comment				{position:relative;margin-bottom:8px;z-index:0;margin-top:4px;clear:both;margin-left:-13px;border-left:3px solid transparent;padding-left:10px;transition:border-left-color 0.5s;}
	.comment-active			{border-left-color:#444444;}
	.comment-avatar			{position:relative;float:left;cursor:pointer;width:36px;height:36px;}
	.comment-name			{position:relative;/*float:left;*/z-index:5;}
	.comment-name a			{color:#555;}
	.comment-name a:hover	{color:#444444;}
	.comment-content		{position:relative;float:left;margin-left:5px;max-width:459px;width:100%;word-break:break-word;text-align:justify;}
	.comment-content img	{max-width:459px;}
	.comment-time,
	.comment-time span,
	.comment-time a			{font-size:8pt;color:#aaa !important;}
	.comment-creator		{}
	.comment-textbox		{border:0;outline:none;width:456px;background:rgba(0,0,0,0);float:left;}
#post-new .post,
	#post-settings,
	#post-password,
	#post-0					{margin-bottom:3em !important;}
	#post-0					{text-align:center;padding:10px;width:500px;color:#aaa;font-weight:bold;}
	textarea[id*='post-editbox-'],
	.post-textbox			{font-size:inherit;font-family:inherit;width:500px;min-height:150px;border:0;outline:0;overflow:hidden;resize:none;background:#fff;}

#settings					{}
	.settings-label			{width:164px;vertical-align:top;}
	.settings-inputs *:last-child{margin-right:0px;}
	.settings-text			{outline:0 !important;border:1px solid #ccc;padding:2px 6px;margin-right:8px;background:#fff;width:150px;margin-bottom:10px;font-family:inherit;}
	.settings-toggle		{line-height: 15px;outline:0 !important;border:none;padding:3px 6px;margin-right:8px;background:#444444;width:152px;margin-bottom:10px;color:#FFF;cursor:pointer;}
	#settings-clr table		{margin-bottom:10px;}
	#register-table tr td:first-child{width:164px;vertical-align:top;}
	#register-table td *:last-child{margin-right:0px;}
	.feed-user				{padding:2px 10px;display:inline;}
	.feed-user-r:hover		{cursor:pointer;color:#fff;background:#CD3E3E;}
	#advset-link			{position:absolute;margin-top:5px;width:100%;text-align:center;}
	#settings-clravat		{width:178px;text-align:center;}
	#settings-avatclr-input	{width:176px;}
	#settings-avatclr .gra_clr-sat {width:142px !important;}

.draft-list td,
#changelog td				{padding:3px;}
	.draft-list tr *:first-child,
	#changelog tr *:first-child{padding-right:10px;vertical-align:top;}
	.draft-list tr:nth-child(even),
	#changelog tr:nth-child(even){background:#f8f8f8;}
	.draft-list				{width:100%;}
	.draft-list tr:focus	{background:#fed;outline:none;}
	.draft-list td:first-child{width:400px;}
	.draft-list td:nth-child(2){color:#ccc;}

@keyframes barberpole		{
	from					{background-position:0 0;}
	to						{background-position:40px 20px;}
}
@-webkit-keyframes barberpole		{
	from					{background-position:0 0;}
	to						{background-position:40px 20px;}
}
