/**  [0]  **/
html						{background:#f8f8f8 url("../assets/img/back.png");background-position:center center;background-attachment:fixed;}

/**  [1]  **/
#popup-yes,
.popup-button,

.loading,

.search-submit,

#side-head,
#side-loading,
#side-cache,
.side-select,
.side-select:hover,

.user-select,

.notes-title,

.user-avatar,
.user-follow,

.post-ribbon,
.post-loading,
.post-button,

.comment-avatar,
.comment-more:hover,

.settings-toggle			{background:#444;color:#fff;}

/**  [2]  **/
.user-ribbon::before,
.post-button::after			{border-top-color:#333;}

/**  [3]  **/
#side-head::after,
.comment-active,			
.post-text blockquote		{border-left-color:#444;}

/**  [4]  **/
.notes-title::after,
.user-ribbon::after			{border-right-color:#333;}

/**  [5]  **/
.usr-link-active,
.usr-link:hover				{border-bottom-color:#444}

/**  [6]  **/
.post-name a:hover,
.post-content a,
.post-content a:hover,

.comment-name a:hover,
.comment-content a,
.comment-content a:hover	{color:#444;}

/**  [7]  **/
#side-logo					{background:rgba(0,0,0,0) url("../assets/img/gra.svg") no-repeat top;z-index:1;}

/**  [8]  **/
::selection					{background:#444;color:#fff;}

/**  [9]  **/
::-moz-selection			{background:#444;color:#fff;}

/**  [10]  **/
::-webkit-selection			{background:#444;color:#fff;}